.show {
  margin-bottom: 20rem;
  &-header {
    margin-bottom: 1.8rem;
    a {
      color: $textColor;
      font-size: 1.8rem;
    }
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.6rem, 1fr));
    gap: 3.2rem;
  }
  &-img__box {
    overflow: hidden;
    border-radius: 4px;
    height: 23rem;
  }
  &-content__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-block: 1rem;
    color: $textColor;
    font-size: 1.6rem;
  }
  &-content__price {
    font-size: 1.6rem;
  }
}
.recently {
  margin-bottom: 5rem;
}
